:root{
  --clr: white;
  --btn-bg-clr: rgba(50,50,50,0.8);
  --btn-bg-hov-clr: rgba(40,40,40,0.8);
  --btn-bg-act-clr: rgba(30,30,30,0.8);
}
*{
  font-family: 'Montserrat', sans-serif;
  user-select: none;
  color: var(--clr);
}
html, body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background-color: black;
}
#canvas {
  display:block;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}
#topright{
  z-index: 1;
  position: absolute;
  right:0;
  top: 0;
  font-size: 0;
}

#levelnum{
  font-size: 24px;
}
img{
  display: none;
  width: 1000%;
}
button{
  background-color: var(--btn-bg-clr);
  color: var(--clr);
  cursor: pointer;
  border: 0;
  margin:0;
  outline: 0;
  transition: background 0.25s, color 0.25s;
}
button:hover{
  background-color: var(--btn-bg-hov-clr);
}
button:active{
  background-color: var(--btn-bg-act-clr);
}
#topright button{
  padding: 14px 18px;
  display: inline;
  font-size: 18px;
}
#menu, #pausemenu{
  position: absolute;
  width: 33%;
  top: 50%;
  left: 50%;
  font-size: 0;
  transform: translate(-50%,-50%);
}
#menu button, #pausemenu button{
  display: block;
  font-size: 22px;
  width: 100%;
  padding: 20px;
  /* margin-top: 5px; */
  transition: background 0.25s, color 0.25s, padding 0.25s, font-size 0.25s;
}
#menu button:hover, #pausemenu button:hover{
  font-size: 32px;
  padding: 28px;
}
